@import "tailwindcss";

@theme {
  --color-gargoyleGas: var(--gargoyleGas);
  --color-vividYellow: var(--vividYellow);
  --color-charlestonGreen: var(--charlestonGreen);
  --color-antiFlashWhite: var(--antiFlashWhite);
  --color-lightSilver: var(--lightSilver);

  /* subduded */
  --color-subduded-100: var(--color-subduded-100);
  --color-subduded-200: var(--color-subduded-200);
  --color-subduded-300: var(--color-subduded-300);
  --color-subduded-400: var(--color-subduded-400);
  --color-subduded-500: var(--color-subduded-500);
  --color-subduded-600: var(--color-subduded-600);
  --color-subduded-700: var(--color-subduded-700);
  --color-subduded-800: var(--color-subduded-800);

  /* Yellow */
  --color-primary-100: var(--color-primary-100);
  --color-primary-200: var(--color-primary-200);
  --color-primary-300: var(--color-primary-300);
  --color-primary-400: var(--color-primary-400);
  --color-primary-500: var(--color-primary-500);
  --color-primary-600: var(--color-primary-600);
  --color-primary-700: var(--color-primary-700);
  --color-primary-800: var(--color-primary-800);

  /* Green */
  --color-green-100: var(--color-green-100);
  --color-green-200: var(--color-green-200);
  --color-green-300: var(--color-green-300);
  --color-green-400: var(--color-green-400);
  --color-green-500: var(--color-green-500);
  --color-green-600: var(--color-green-600);
  --color-green-700: var(--color-green-700);
  --color-green-800: var(--color-green-800);

  /* Sky */
  --color-sky-100: var(--color-sky-100);
  --color-sky-200: var(--color-sky-200);
  --color-sky-300: var(--color-sky-300);
  --color-sky-400: var(--color-sky-400);
  --color-sky-500: var(--color-sky-500);
  --color-sky-600: var(--color-sky-600);
  --color-sky-700: var(--color-sky-700);
  --color-sky-800: var(--color-sky-800);

  /* Purple */
  --color-purple-100: var(--color-purple-100);
  --color-purple-200: var(--color-purple-200);
  --color-purple-300: var(--color-purple-300);
  --color-purple-400: var(--color-purple-400);
  --color-purple-500: var(--color-purple-500);
  --color-purple-600: var(--color-purple-600);
  --color-purple-700: var(--color-purple-700);
  --color-purple-800: var(--color-purple-800);

  /* Red */
  --color-critical-100: var(--color-critical-100);
  --color-critical-200: var(--color-critical-200);
  --color-critical-300: var(--color-critical-300);
  --color-critical-400: var(--color-critical-400);
  --color-critical-500: var(--color-critical-500);
  --color-critical-600: var(--color-critical-600);
  --color-critical-700: var(--color-critical-700);
  --color-critical-800: var(--color-critical-800);

  /* --breakpoint-xxs: 389px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-xxl: 1440px;
  --breakpoint-2xl: 1600px; */

  --breakpoint-xs: 400px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1200px;
  --breakpoint-xxl: 1400px;

  --text-3xl: 2rem;
  --text-3xl--line-height: 1.5rem;

  --text-4xl: 3.5rem;
  --text-4xl--line-height: 1.5rem;

  --text-5xl: 4.5rem;
  --text-5xl--line-height: 1.5rem;

  --text-15: 15px;
  --text-16: 16px;
  --text-17: 17px;
  --text-22: 22px;
  --text-26: 26px;
  --text-40: 40px;
  --text-5.5: 46px;
  --text-50: 50px;
  --text-6.5: 68px;
  --text-7.5: 80px;

  --radius-20: 20px;

  --z-1: 1;
  --z-2: 2;
  --z-3: 3;
  --z-4: 4;
  --z-5: 5;
  --z-6: 6;
  --z-7: 7;
  --z-8: 8;
  --z-9: 9;

  /* ✅ Font variable */
  /* --font-interregular: "InterRegular", sans-serif;
  --font-interitalic: "InterItalic", sans-serif;
  --font-intermedium: "InterMedium", sans-serif;
  --font-intermediumitalic: "InterMediumItalic", sans-serif;
  --font-intersemibold: "InterSemiBold", sans-serif;
  --font-intersemibolditalic: "InterSemiBoldItalic", sans-serif;
  --font-interbold: "InterBold", sans-serif;
  --font-interbolditalic: "InterBoldItalic", sans-serif;
  --font-interblack: "InterBlack", sans-serif;
  --font-interblackitalic: "InterBlackItalic", sans-serif; */
  --font-body: "Inter", sans-serif;
  --font-displayregular: "FKScreamerTrialRegular", sans-serif;
  --font-displaymedium: "FKScreamerTrialMedium", sans-serif;
  --font-displaybold: "FKScreamerTrialBold", sans-serif;
  --font-displayblack: "FKScreamerTrialBlack", sans-serif;

  /* Addeding Leading Variables */
  --leading-170: 170%;
  --leading-180: 180%;

  /* shadow */
  --shadow-focus: 0 0 0 2px var(--subduded-800);


  --size-60px: 60px;
  --spacing-400: 400px;
}

@layer base {
  :root {
    --white: #ffffff;
    --black: #000000;
    --charlestonGreen: #2b2b2b;
    --gargoyleGas: #ffe943;
    --vividYellow: #ffe30a;
    --antiFlashWhite: #f1f1f1;
    --lightSilver: #d7d7d7;

    /* subduded */
    --color-subduded-100: #f1f1f1;
    --color-subduded-200: #e9e9e9;
    --color-subduded-300: #d9d9d9;
    --color-subduded-400: #afafaf;
    --color-subduded-500: #767676;
    --color-subduded-600: #4a4a4a;
    --color-subduded-700: #2b2b2b;
    --color-subduded-800: #191919;

    /* Yellow */
    --color-primary-100: #fffdf0;
    --color-primary-200: #fff6b6;
    --color-primary-300: #ffe7d0;
    --color-primary-400: #ffe943;
    --color-primary-500: #ffe30a;
    --color-primary-600: #d0b800;
    --color-primary-700: #978600;
    --color-primary-800: #5d5300;

    /* Green */
    --color-green-100: #d5f7c6;
    --color-green-200: #baf2a3;
    --color-green-300: #9fee80;
    --color-green-400: #7de754;
    --color-green-500: #5bef29;
    --color-green-600: #47b91c;
    --color-green-700: #36bc17;
    --color-green-800: #255f10;

    /* Sky */
    --color-sky-100: #e0f3ff;
    --color-sky-200: #bae5fe;
    --color-sky-300: #94d9fc;
    --color-sky-400: #63c6fa;
    --color-sky-500: #3383f7;
    --color-sky-600: #0a9ded;
    --color-sky-700: #3079bb;
    --color-sky-800: #075a8a;

    /* Purple */
    --color-purple-100: #e6e0ff;
    --color-purple-200: #c9bafe;
    --color-purple-300: #a4d4fc;
    --color-purple-400: #8863fa;
    --color-purple-500: #6333f7;
    --color-purple-600: #430bec;
    --color-purple-700: #360aba;
    --color-purple-800: #2908a9;

    /* Red */
    --color-critical-100: #ffa49a;
    --color-critical-200: #ff8273;
    --color-critical-300: #fe604c;
    --color-critical-400: #fc351b;
    --color-critical-500: #e01f04;
    --color-critical-600: #ac1905;
    --color-critical-700: #7a1304;
    --color-critical-800: #480c03;
  }

  html {
    @apply scroll-smooth;
  }

  body {
    @apply font-body text-16 leading-normal text-black bg-white;
  }

  a {
    @apply transition-all ease-in-out duration-300;
  }
}

@utility container {
  margin-inline: auto;
  padding-inline: 30px;

  @media (width >= 400px) {
    max-width: 100%;
  }
  @media (width >= 640px) {
    max-width: 540px;
  }
  @media (width >= 768px) {
    max-width: 720px;
  }
  @media (width >= 1024px) {
    max-width: 960px;
  }
  @media (width >= 1200px) {
    max-width: 1140px;
  }
  @media (width >= 1400px) {
    max-width: 1320px;
  }
}

.container-fluid {
  @apply px-[15px];
}

b,
strong {
  @apply font-body font-normal;
}

.shadow-focus {
  box-shadow: 0 0 0 2px var(--subduded-800);
}

/* buttons */
/* .btn-extra-small {
  @apply py-1.5 px-2 text-sm leading-tight;
}

.btn-small {
  @apply py-2 px-3 text-16 leading-tight;
}

.btn.disabled {
  @apply cursor-default opacity-40;
}

.btn-with-border {
  @apply relative border-2 border-black before:absolute before:content-[''] before:left-[2px] before:right-[2px] before:top-[2px] before:bottom-[2px] before:border-2 before:border-white before:rounded-[inherit] before:transition-all before:duration-300;
}

.btn-with-border:not(.disabled) {
  @apply hover:before:opacity-0;
}

.btn-black {
  @apply bg-black text-white;
}

.btn-black:not(.disabled) {
  @apply hover:text-white hover:bg-charlestonGreen;
} */

/* .btn-yellow {
  @apply text-black bg-gargoyleGas;
}

.btn-yellow:not(.disabled) {
  @apply hover:text-black hover:bg-vividYellow;
}

.btn-gray {
  @apply bg-antiFlashWhite text-black;
}

.btn-gray:not(.disabled) {
  @apply hover:text-black hover:bg-lightSilver;
} */
/* buttons */

/* common-form */
.common-form .form-group {
  margin-bottom: 16px;
}

.common-form .form-select,
.common-form .form-control {
  resize: none;
  height: 48px;
  width: 100%;
  padding: 6px 12px;
  font-size: 16px;
  line-height: 120%;
  color: #000000;
  box-shadow: none;
  background-color: transparent;
  border: 1px solid #afafaf;
  outline: none;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}

.common-form .form-control::-webkit-input-placeholder {
  color: #afafaf;
}
.common-form .form-control::-moz-placeholder {
  color: #afafaf;
}
.common-form .form-control:-ms-input-placeholder {
  color: #afafaf;
}
.common-form .form-control:-o-placeholder {
  color: #afafaf;
}

.common-form .form-select:focus,
.common-form .form-control:focus {
  border-color: #000000;
}

.common-form textarea.form-control {
  height: 175px;
  padding-top: 12px;
  padding-bottom: 12px;
}
/* common-form */
